<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohu.dao.Appstore.RoleMapper">
    <resultMap id="BaseResultMap" type="com.bohu.pojo.Role">
        <id column="ROLEID" jdbcType="VARCHAR" property="roleid"/>
        <result column="CDATE" jdbcType="TIMESTAMP" property="cdate"/>
        <result column="UDATE" jdbcType="TIMESTAMP" property="udate"/>
        <result column="FOUNDER" jdbcType="VARCHAR" property="founder"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="LOGO" jdbcType="VARCHAR" property="logo"/>
    </resultMap>
    <sql id="Base_Column_List">
        LOGO , ROLEID, CDATE, UDATE, FOUNDER, DESCRIPTION, `NAME`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where ROLEID = #{roleid,jdbcType=VARCHAR}
    </select>
    <select id="selectByUserRole" resultMap="BaseResultMap">
        select DISTINCT
        <include refid="Base_Column_List"/>
        from role
        where ROLEID in (select ROLEID from userrole where USERNAME = #{username,jdbcType=VARCHAR})
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from role
        where ROLEID = #{roleid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="ROLEID" keyProperty="roleid" parameterType="com.bohu.pojo.Role"
            useGeneratedKeys="true">
        insert into role (CDATE, UDATE, FOUNDER,
                          DESCRIPTION, `NAME`)
        values (#{cdate,jdbcType=TIMESTAMP}, #{udate,jdbcType=TIMESTAMP}, #{founder,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="ROLEID" keyProperty="roleid" parameterType="com.bohu.pojo.Role"
            useGeneratedKeys="true">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cdate != null">
                CDATE,
            </if>
            <if test="udate != null">
                UDATE,
            </if>
            <if test="founder != null">
                FOUNDER,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="name != null">
                `NAME`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cdate != null">
                #{cdate,jdbcType=TIMESTAMP},
            </if>
            <if test="udate != null">
                #{udate,jdbcType=TIMESTAMP},
            </if>
            <if test="founder != null">
                #{founder,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bohu.pojo.Role">
        update role
        <set>
            <if test="cdate != null">
                CDATE = #{cdate,jdbcType=TIMESTAMP},
            </if>
            <if test="udate != null">
                UDATE = #{udate,jdbcType=TIMESTAMP},
            </if>
            <if test="founder != null">
                FOUNDER = #{founder,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `NAME` = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where ROLEID = #{roleid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bohu.pojo.Role">
        update role
        set CDATE       = #{cdate,jdbcType=TIMESTAMP},
            UDATE       = #{udate,jdbcType=TIMESTAMP},
            FOUNDER     = #{founder,jdbcType=VARCHAR},
            DESCRIPTION = #{description,jdbcType=VARCHAR},
            `NAME`      = #{name,jdbcType=VARCHAR}
        where ROLEID = #{roleid,jdbcType=VARCHAR}
    </update>
</mapper>