<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohu.dao.Appstore.RolerightMapper">
  <resultMap id="BaseResultMap" type="com.bohu.pojo.Roleright">
    <id column="ROLEID" jdbcType="VARCHAR" property="roleid" />
    <id column="RIGHTID" jdbcType="VARCHAR" property="rightid" />
    <result column="FOUNDER" jdbcType="VARCHAR" property="founder" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
    <result column="C" jdbcType="VARCHAR" property="c" />
    <result column="R" jdbcType="VARCHAR" property="r" />
    <result column="U" jdbcType="VARCHAR" property="u" />
    <result column="D" jdbcType="VARCHAR" property="d" />
  </resultMap>
  <sql id="Base_Column_List">
    ROLEID, RIGHTID, FOUNDER, CDATE, UDATE, `C`, R, U, D
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.bohu.pojo.RolerightKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from roleright
    where ROLEID = #{roleid,jdbcType=VARCHAR}
      and RIGHTID = #{rightid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.bohu.pojo.RolerightKey">
    delete from roleright
    where ROLEID = #{roleid,jdbcType=VARCHAR}
      and RIGHTID = #{rightid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="ROLEID" keyProperty="roleid" parameterType="com.bohu.pojo.Roleright" useGeneratedKeys="true">
    insert into roleright (RIGHTID, FOUNDER, CDATE, 
      UDATE, `C`, R, U, 
      D)
    values (#{rightid,jdbcType=VARCHAR}, #{founder,jdbcType=VARCHAR}, #{cdate,jdbcType=TIMESTAMP}, 
      #{udate,jdbcType=TIMESTAMP}, #{c,jdbcType=VARCHAR}, #{r,jdbcType=VARCHAR}, #{u,jdbcType=VARCHAR}, 
      #{d,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ROLEID" keyProperty="roleid" parameterType="com.bohu.pojo.Roleright" useGeneratedKeys="true">
    insert into roleright
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rightid != null">
        RIGHTID,
      </if>
      <if test="founder != null">
        FOUNDER,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
      <if test="c != null">
        `C`,
      </if>
      <if test="r != null">
        R,
      </if>
      <if test="u != null">
        U,
      </if>
      <if test="d != null">
        D,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rightid != null">
        #{rightid,jdbcType=VARCHAR},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
      <if test="c != null">
        #{c,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        #{r,jdbcType=VARCHAR},
      </if>
      <if test="u != null">
        #{u,jdbcType=VARCHAR},
      </if>
      <if test="d != null">
        #{d,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bohu.pojo.Roleright">
    update roleright
    <set>
      <if test="founder != null">
        FOUNDER = #{founder,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
      <if test="c != null">
        `C` = #{c,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        R = #{r,jdbcType=VARCHAR},
      </if>
      <if test="u != null">
        U = #{u,jdbcType=VARCHAR},
      </if>
      <if test="d != null">
        D = #{d,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLEID = #{roleid,jdbcType=VARCHAR}
      and RIGHTID = #{rightid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bohu.pojo.Roleright">
    update roleright
    set FOUNDER = #{founder,jdbcType=VARCHAR},
      CDATE = #{cdate,jdbcType=TIMESTAMP},
      UDATE = #{udate,jdbcType=TIMESTAMP},
      `C` = #{c,jdbcType=VARCHAR},
      R = #{r,jdbcType=VARCHAR},
      U = #{u,jdbcType=VARCHAR},
      D = #{d,jdbcType=VARCHAR}
    where ROLEID = #{roleid,jdbcType=VARCHAR}
      and RIGHTID = #{rightid,jdbcType=VARCHAR}
  </update>
</mapper>