<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohu.dao.Sharding.CourseMapper">
  <resultMap id="BaseResultMap" type="com.bohu.pojo.Course">
    <id column="cid" jdbcType="BIGINT" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, cname, user_id, `status` ,ctime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where cid = #{cid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from course
    where cid = #{cid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="cid" keyProperty="cid" parameterType="com.bohu.pojo.Course" useGeneratedKeys="true">
    insert into course (cname, user_id, `status` , ctime
      )
    values (#{cname,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR} , #{ctime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="cid" keyProperty="cid" parameterType="com.bohu.pojo.Course" useGeneratedKeys="true">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        cname,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bohu.pojo.Course">
    update course
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bohu.pojo.Course">
    update course
    set cname = #{cname,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=BIGINT}
  </update>
</mapper>